// _variables
$primary-color: #22251d;
$secondary-color: #2a2b23;
$text-color: #000;
$background-color: #fff;
$font-family: "Zen Kurenaido", sans-serif;

// _mixins
@mixin rotate($angle) {
  transform: rotate($angle);
}

// _base
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: auto;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fv {
  width: 100%;
  height: 100vh;
  background-image: url(../public/assets/images/bg.png);
}

// _header
.header {
  padding: 20% 10% 10% 10%;

  .main_ttl {
    position: relative;
    font-family: $font-family;
    font-weight: 400;
    color: $background-color;
    width: fit-content;
    margin-bottom: 100px;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.25rem;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      @include rotate(-5deg);
      z-index: -1;
    }
  }
}

// _storeList
.store {
  .sub_ttl {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 5%;
  }

  .list li {
    margin-bottom: 5%;
  }
}

// _actionButtos
.action {
  margin-top: auto;
  padding: 5%;
}

.action_btn {
  position: relative;
  font-size: 1rem;
  color: $text-color;
  display: inline-block;
  margin: 5px;
  z-index: 1;

  span {
    padding: 10px;
    position: relative;
    display: block;
    background-color: $background-color;
    text-wrap: nowrap;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 5px;
    bottom: -5px;
    background-color: $text-color;
    z-index: -1;
  }

  &:nth-child(1) {
    display: block;
    @include rotate(-2deg);
  }

  &:nth-child(2) {
    @include rotate(5deg);

    span {
      padding: 5px;
      background-color: $secondary-color;
      color: $background-color;
    }

    &::after {
      background-color: $background-color;
    }
  }

  &:nth-child(3) {
    transform: translateY(-15px);
  }

  &:nth-child(4) {
    @include rotate(-5deg);

    span {
      background-color: $secondary-color;
      color: $background-color;
    }

    &::after {
      background-color: $background-color;
    }
  }
}

// _warning
.warning {
  padding-bottom: 16.9%;
  background-image: url(../public/assets/images/notice.png);
  background-repeat: no-repeat;
  background-size: cover;
}

// Media Queires
@media (max-width: 768px) {
  .header {
    padding: 10% 5%;

    .main_ttl {
      font-size: 1rem;
      margin-bottom: 50px;
    }
  }

  .action_btn {
    font-size: 0.875rem;

    span {
      padding: 8px;
    }
  }
}
@media (min-width: 768px) {
  html {
    font-size: 24px;
  }
}
